In [136]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

from sklearn import preprocessing
from sklearn import utils
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [137]:
df = pd.read_csv(r'C:\Users\Lenovo\Downloads\vgsales.csv')
print('Lets look at the head:')
df.head()

Lets look at the head:

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [138]:
df.fillna(0.0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
Rank            16598 non-null int64
Name            16598 non-null object
Platform        16598 non-null object
Year            16327 non-null float64
Genre           16598 non-null object
Publisher       16540 non-null object
NA_Sales        16598 non-null float64
EU_Sales        16598 non-null float64
JP_Sales        16598 non-null float64
Other_Sales     16598 non-null float64
Global_Sales    16598 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [141]:
#Thresholds
classified_y = ["Failure" , "Below Average" , "Average" , "Success" , "Big Success"]
x = df[['NA_Sales','JP_Sales','EU_Sales']]
y = df['Global_Sales']

In [ ]:
#Some information about the features:
# Name: name of the game
# Platform: the gaming console to which the game was released primarily
# Year: year of the game release date
# Genre: game genre to which the game belongs
# Publisher: name of the publisher company of the game
# NA_Sales: sales numbers of game units in north america(in millions)
# EU_Sales: sales numbers of game units in europe(in millions)
# JP_Sales: sales numbers of game units in japan(in millions)
# Other_Sales: sales numbers of game units in regions other than NA/EU/JP(in millions)
# Global_Sales: number of game units sold worldwide(in millions)

In [ ]:
#Logistic Regression Algorithm 
x_train,x_test,y_train,y_test = train_test_split(x , y , random_state = 0)
lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y_train)
print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(y_train.astype('int')))
print(utils.multiclass.type_of_target(encoded))
logistic_regression = LogisticRegression()
logistic_regression.fit(x_train,y_train)
y_pred = logistic_regression.predict(x_test)
confusion_matrix = pd.crosstab(y_test , y_pred , rownames = ['Actual'] , colnames = ['Predicted'])
sn.heatmap(confusion_matrix , annot=true)
print('Accuracy: ', metrics.accuracy_score(y_test , y_pred))
plt.show()